.cardOverley {
  width: 350px;
  height: 200px;
  background: linear-gradient(rgba(150, 154, 187, 0.9), rgba(47, 48, 58, 0.4)),
    url('images/telephone.jpg') no-repeat center center fixed;
  background-size: 350px 200px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input {
  height: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 25px;
  cursor: pointer;
  max-width: 325px;
  font-size: 15px;
}
.input:focus,
:hover {
  border-color: #3f51b5;
}
.input:focus {
  outline: none;
}
.span {
  display: block;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.buttonChange {
  cursor: pointer;
  max-width: 260px;
  border: none;
  color: white;
  padding: 5px 78px;
  text-decoration: none;
  background-color: #e84a5f;
  font-size: 10px;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
.buttonChange:hover,
:focus {
  color: #e84a5f;
  background-color: white;
}
.buttonUnchanged {
  cursor: pointer;
  max-width: 260px;
  border: none;
  color: white;
  padding: 5px 71px;
  text-decoration: none;
  background-color: #3f51b5;
  font-size: 10px;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
.buttonUnchanged:hover,
:focus {
  color: #3f51b5;
  background-color: white;
}

@media screen and (min-width: 720px) {
  .cardOverley {
    width: 700px;
    height: 420px;
    background-size: 700px 420px;
    padding: 20px 20px;
  }
  .input {
    height: 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 25px;
    cursor: pointer;
    max-width: 325px;
    font-size: 20px;
  }
  .span {
    display: block;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .buttonChange {
    width: 255px;
    padding: 5px 75px;
    font-size: 22px;
    margin-top: 30px;
  }
  .buttonUnchanged {
    width: 255px;
    padding: 5px 75px;
    font-size: 22px;
    margin-top: 30px;
  }
}
